<!-- Show loading indicator while loading -->
<div *ngIf="isLoading"> Loading... </div>

<!-- Show the content once loaded -->
<div class="content" *ngIf="!isLoading">


  <div class="flex-container">
    <div class="notes-container">
      <div class="notes-container-header">
        <button class="note-number-title" (click)="handleNoteOrder()">
          {{notesReversed ? '&#9650;' : '&#9660;'}}
        </button>
        <div class="date-container-title">Date</div>
        <div class="note-content-container-title">Preview</div>
      </div>

      <div *ngFor="let note of ws.subjectWithNotes.get(this.subjectId); let i = index" class="note-item"
           (click)="selectNote(note)">
        <div class="note-number">{{i + 1}}.</div>
        <div class="date-container">
          <span>{{dateFromStr(note.timestamp)}}</span>
        </div>
        <div class="note-content-container">
          <span>{{(note.noteContent ? note.noteContent : '') | removeHtmlTags | slice:0:10}}</span>
        </div>
      </div>
    </div>

    <div class="publish-note">
      <h2>{{SubjectEnums[this.subjectId]}}</h2>
      <quill-editor [formControl]="messageContent" [modules]="toolbarOptions"
                    class="note-quill-editor quill-shadow"></quill-editor>
      <div class="button-bar">
        <button class="new-or-publish-button" (click)="onNewOrUpdateClick()" [disabled]="!messageContent.value">
          {{selectedNote ? 'New Note' : 'Publish Note'}}
        </button>
        <button class="update-note-button" *ngIf="selectedNote" (click)="updateNoteInSubject()" [disabled]="!messageContent.value">Update Note</button>
        <button class="delete-note-button" *ngIf="selectedNote" (click)="deleteNoteFromSubject()">Delete Note</button>
      </div>
    </div>
  </div>

  <button class="back-button" routerLink="/">Go back to subjects</button>
  <button class="recording-button" (click)="startStopRecording()" [ngClass]="{ 'pulse': isRecording }">

    {{ isRecording ? 'Stop Recording' : 'Start Recording' }}
  </button>


</div>
