.subject-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .subjects-list {
    grid-template-rows: auto 1fr;
    border-right: 1px solid #ccc;


    .subjects-list-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .subject-content {
    overflow-y: auto;
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;

    .publish-note {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
  }
}
